
.titleContainer {
  padding: 16px;
}


.linkWrapper,
.linkWrapper:hover,
.linkWrapper:visited {
  text-decoration: none;
  color: white; 
}

/* Estilo geral da lista */
.list {
  color: white; /* Cor do texto padrão para os itens */
  padding-top: 0;
  padding-bottom: 0;
}


/* Estilo para o ícone */
.icon {
  min-width: 40px;
  color: white; /* Herda a cor branca da lista */
}


.linkWrapper .Mui-selected {
  background-color: rgba(255, 255, 255, 0.08) !important;
}
.linkWrapper .Mui-selected .icon {
   color: white !important; /* Garante que o ícone fique branco quando selecionado */
}